.cart-root {
  padding-top: 5%;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.cart-left {
  color: white;
  width: 35%;

  background: #d6752e;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 3%;
}

.cart-left h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.cart-left .total {
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-right {
  background: #f7f7f7;
}

.total {
  font-weight: 700;
  letter-spacing: 2px;
}

.delivery-fee-root {
  margin-top: 3%;
}

.del-title {
  font-weight: 600;
  font-size: 1rem;
}

.delivery-fee-root {
  animation: loadDel 2s;
}

@keyframes loadDel {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.checkout-btn {
  margin-top: 5%;
  width: 250px;
  height: 50px;
  background: white;
  border: none;
  color: #d6752e;
  font-weight: 500;
  font-size: 1.2rem;
  border: 1px solid white;
  border-radius: 25px;
  transition: 0.2s;
  letter-spacing: 1px;
}

.checkout-btn:hover:enabled {
  background: #d6752e;
  color: white;
  width: 300px;
  cursor: pointer;
  font-weight: 700;
}

.checkout-btn:disabled {
  border: none;
  background: lightgray;
  color: darkgrey;
  cursor: not-allowed;
}
