.cart-root {
  padding-top: 5%;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.cart-left {
  color: #fff;
  width: 35%;
  background: #d6752e;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 3%;
}
.cart-left h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.cart-left .total {
  font-size: 1.5rem;
  font-weight: 500;
}
.cart-right {
  background: #f7f7f7;
}
.total {
  font-weight: 700;
  letter-spacing: 2px;
}
.delivery-fee-root {
  margin-top: 3%;
}
.del-title {
  font-weight: 600;
  font-size: 1rem;
}
/* .delivery-fee-root {
  animation: loadDel 2s;
}
@keyframes loadDel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
} */
.checkout-btn {
  margin-top: 5%;
  width: 250px;
  height: 50px;
  background: #fff;
  border: none;
  color: #d6752e;
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 0.2s;
  letter-spacing: 1px;
}
.checkout-btn:hover:enabled {
  background: #d6752e;
  color: #fff;
  cursor: pointer;
}
.checkout-btn:disabled {
  border: none;
  background: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}
.cart-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.25%;
  width: 65%;
}
.products-cart-root {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 5%;
}

@media (max-width: 1134px) {
  .products-cart-root {
    padding: 10%;
  }
}

@media (max-width: 847px) {
  .cart-left {
    width: 75%;
  }

  .products-cart-root {
    justify-content: center;
  }
}

@media (max-width: 607px) {
  .cart-root {
    flex-direction: column-reverse;
    height: 100%;
  }

  .checkout-btn {
    margin-bottom: 5%;
  }

  .products-cart-root {
    flex-direction: row;

    height: 80vh;
    padding-top: 15%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .cart-right {
    width: 100%;
  }

  .cart-left {
    width: 100%;
  }
}
