.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;

  padding-top: 5%;
  background-image: url("../homebg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-left {
  margin-left: 5%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-left h1 {
  font-weight: 700;
  font-size: 3rem;
}

.home-left p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5;
}

.cta-btn {
  margin-top: 2%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 5px;
  transition: 0.3s;
  border-radius: 25px;
  background-color: #f47920;
}

.cta-btn:hover {
  width: 350px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.covid-message {
  text-decoration: none;
  margin-top: 5%;
  color: gray;
  transition: 0.3s;
}

.covid-message:hover {
  color: #f47920;
}

@media (max-width: 1366px) {
  .home-container {
    height: 100vh;
    flex-direction: column;
    padding-top: 20%;
  }

  .home-left {
    margin-left: 5%;
    width: 75%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .home-container {
    height: 100vh;
    flex-direction: column;
    background: none;
  }

  .home-left {
    margin-left: 5%;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (max-width: 400px) {
  .home-container {
    padding-top: 25%;
    height: 100%;
  }

  .home-left {
    justify-content: space-between;
  }
}
