.nav {
  width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
  padding: 1.25%;
  background: white;
  position: absolute;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-left {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  margin-right: 2%;
  width: 50%;
  align-items: baseline;
}

.nav-logo i {
  margin-right: 5%;
  font-size: 1.3rem;
  color: #f47920;
}

.nav-logo h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

.nav-logo h1 span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #f47920;
}

.nav-left-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.nav-left-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-left-links a:hover {
  color: #f47920;
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.nav-right a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-right a:hover {
  color: #f47920;
  cursor: pointer;
}

.nav-locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 35%;
}

.nav-locations i {
  color: #f47920;
  font-size: 1.2rem;
}
