.product-card {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
  flex-basis: 30%;
  transition: ease-in-out 0.2s;
  padding: 1.25%;
}

.product-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  color: #f47920;
}

.product-card img {
  width: 150px;
}

.product-card .title {
  text-transform: capitalize;
  font-size: 1.5rem;
}
.product-card .price {
  color: gray;
  font-size: 1.3rem;
}

.dialog-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ec4db4;
  text-transform: uppercase;
}

.nutrition-root {
  display: flex;
  justify-content: space-between;
}

.n-title {
  font-weight: 600;
  color: #ec4db4;
}

.nutrition {
  font-weight: 600;
}

.nutrition-data {
  color: black;
}

@media (max-width: 550px) {
  .nutrition-root {
    flex-direction: column;
  }
}

@media (max-width: 607px) {
  .product-card {
    margin-bottom: 0;
    margin-right: 10%;
  }
}
